<!-- si hay doble llaves significa que habrá código typescript dentro -->
<h1>{{title}}</h1> 
<hr>

<!-- los eventos son definidos por parentesis p.e: 'click' -->

<!-- y despues del igual se coloca codigo javascript (caracteristica de Angular) -->
<!-- <button (click)="numero = numero + 1; "> +1 </button>
<span> {{numero}} </span>
<button (click)="numero = numero - 1; "> -1 </button> -->


<!-- CODIGO PARA IMPLEMENTAR METODOS DENTRO DEL DOCUMENTO HTML -->

<!-- <button (click)="increaseBy()"> +1 </button>
<span> {{numero}} </span>
<button (click)="decreaseBy()"> -1 </button>
<div><button (click)="resetNumber()">Reset</button></div>

<hr> -->
<!-- Implementación del componente 'app-contador' -->
<app-contador></app-contador>

<hr>
<h2>Componente de 'heroe'</h2>
<app-heroes-heroe></app-heroes-heroe>

<hr>
<h2>Componente de 'lista'</h2>
<app-heroes-lista></app-heroes-lista>

